.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  min-width: 280px;
  text-transform: uppercase;
  color: @text-light;
  background-color: @basic-green;
  text-align: center;
  box-sizing: border-box;
  padding: 13px 44px;
}

.button--min {
  padding: 10px 109px;
}

.button--grey {
  color: @text;
  background-color: @basic-gray;
  padding: 10px 94px;
}
