.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-light;
  background-color: @basic-green;
  text-align: center;
  box-sizing: border-box;
  padding: 11px 44px;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 244px;
    padding: 17px 26px;
  }
}

.button--min {
  padding: 10px 109px;
}

.button--grey {
  color: @text;
  background-color: @basic-gray;
  padding: 10px 94px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}
