.cat-profile {
  margin: 24px 0;

  @media (min-width: @tablet-width) {
    margin: 27px 0 66px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.cat-profile__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-profile__label {
  flex-grow: 0;
}

.cat-profile__input {
  border: @input;
  height: 45px;
  flex-grow: 2;

  margin-left: 12px;
  box-sizing: border-box;

  &:hover {
    border: @input-hover;
  }

  &:focus {
    outline: none;
    border: @input-focus;
  }
}

.cat-profile__input,
.cat-profile__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: @text;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.cat-profile__input::placeholder {
  padding: 0;
}
