.comment {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.comment__input {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border: @input;
  resize: none;
  margin: 22px 0 23px 0;

  &:hover {
    border: @input-hover;
  }

  &:focus {
    outline: none;
    border: @input-focus;
  }

  @media (min-width: @tablet-width) {
    margin: 76px 0 65px 0;
    font: inherit;
    text-align: left;
    padding-top: 10px;
    padding-left: 19px;
  }
}

.comment__input::placeholder {
  color: @text;
}
