.event {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;

  font-family: @arial;
  font-size: 16px;
  line-height: 20px;
  color: @text-light;
  text-align: center;
  height: 289px;
  width: 280px;
  background:
    url("../img/event-icon.svg") no-repeat center 58px,
    @basic-green url("../img/event-cat.png") no-repeat;
  padding: 187px 50px 0;
  margin: 40px 0 35px 0;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background:
      url("../img/event-icon.svg") no-repeat center 58px,
      @basic-green url("../img/event-cat@2x.png") no-repeat;
    background-size: 78px 80px, cover;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 200px;
    background:
      url("../img/event-icon.svg") no-repeat 80px 56px,
      @basic-green url("../img/event-cat-max.png") no-repeat center center;
    text-align: left;
    padding: 70px 124px 70px 422px;
    margin: 70px 0 76px 0;

    @media (min-resolution: 2dppx) {
      background:
        url("../img/event-icon.svg") no-repeat 80px 56px,
        @basic-green url("../img/event-cat-max@2x.png") no-repeat center center;
      background-size: 80px 83px, cover;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
    background:
      url("../img/event-icon.svg") no-repeat center 58px,
      @basic-green url("../img/event-cat.png") no-repeat -30px center;
    text-align: center;
    margin: 0;
    padding: 190px 42px 0;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background:
        url("../img/event-icon.svg") no-repeat center 58px,
        @basic-green url("../img/event-cat@2x.png") no-repeat;
      background-size: 80px 83px, cover;
    }
  }
}
