.example {
  background-color: @dark-gray;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 44px;
  }
}

.example__wrapper {
  height: 605px;

  @media (min-width: @tablet-width) {
    height: 915px;
    background-image: linear-gradient(white, white 453px, @dark-gray 453px, @dark-gray);
  }

  @media (min-width: @desktop-width) {
    height: 465px;
    background: @basic-gray;
  }
}

.example__columns {
  @media (min-width: @desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: auto auto auto;
    padding-top: 56px;
  }
}

.example__title {
  margin: 0 0 33px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 75px 0;
  }
}

.example__text {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.example__stats {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.example__photo {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: -245px;
    right: -75px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    background: none;
  }
}
