.links {
  background-color: @basic-gray;
}

.links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-height: 147px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 35px;
  }
}

.links__our-company {
  display: block;
  padding-top: 39px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    padding-top: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
    padding-top: 38px;
  }
}

.links__our-company img {
  @media (min-width: @desktop-width) {
    width: 128px;
    height: 24px;
  }
}

.links__social {
  width: 280px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
    margin-left: 15px;
    margin-bottom: 5px;
  }
}
