.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 66px;
}

.main-nav__logo {
  height: 38px;

  @media (min-width: @tablet-width) {
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    z-index: 3;
  }
}

.main-nav__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link {
  color: @text-title;

  @media (min-width: @desktop-width) {
    color: @text-light;
  }
}

.main-nav__link--form {
  @media (min-width: @desktop-width) {
    color: @text-dark;
  }
}


.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
