.more-items__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-dark;
}

.more-items__text {
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.more-items__button {
  display: inline-block;
  margin-bottom: 25px;
}
