.page-catalog__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 245px;
    grid-template-rows: repeat(4, auto);
    column-gap: 79px;
    margin-bottom: 86px;
  }
}


.page-catalog__wrapper::before {
  content: "";
  position: absolute;
  top: 2080px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 2px;
  background-image: linear-gradient(to right, transparent, transparent 50%, @basic-green 50%, @basic-green);
  z-index: -1;

  @media (min-width: @tablet-width) {
    background: @basic-green;
    top: 2598px;
  }

  @media (min-width: @desktop-width) {
    top: 1517px;
  }
}

.page-catalog__title {
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    margin-bottom: 90px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 64px;
  }
}
