.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programs__item {
  background-color: @basic-gray;
  margin-top: 20px;
  padding-top: 30px;
}

.programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @text-title;
  margin: 0 0 30px 0;
}

.programs__description {
  margin-bottom: 38px;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @text-title;
}
