.program-selection {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 27px 0 66px 0;
  }
}

.program-selection__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 40px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 0;
  }
}

.program-selection__list {
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    border: @input;
    padding-top: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 0 0 0;
  }
}

.program-selection__item {
  color: @text-accent;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.program-selection__item:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }
}

.program-selection__label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 89px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 87px;
  }
}

.program-selection__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: @input-dark;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: 28px;
  }
}

.program-selection__input:checked + .program-selection__label::after {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  background-color: @basic-green;
  border-radius: 50%;
  top: 3px;
  left: 8.7px;

  @media (min-width: @tablet-width) {
    width: 18.2px;
    height: 18.2px;
    top: 5.5px;
    left: 39.45px;
  }
}

.program-selection__input:hover + .program-selection__label::before,
.program-selection__input:focus + .program-selection__label::before {
  border: @input-hover;
}

.program-selection__input:disabled + .program-selection__label {
  opacity: 0.3;

  &::before {
    border: @input-hover;
  }
}
