.promo {
  min-height: 480px;
  color: @text-light;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 780px;
    color: @text-title;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    min-height: 694px;
  }
}

.promo::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat.jpg");
  background-repeat: repeat, no-repeat;
  background-position: center, top center;

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 694px;
    background: rgba(104, 183, 56, 0.85);
    background-position: center;
    z-index: 2;
  }
}

.promo__content {
  position: relative;
}

.promo__content::before {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: -76px;
    right: 0;
    content: "";
    width: 719px;
    height: 694px;
    background: url("../../img/promo-cat-max.jpg") no-repeat;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 0 25px 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 414px;
    padding: 62px 0 21px 80px;
  }
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 80px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 60px;
    right: 310px;
    z-index: 3;
  }
}

.promo__link {
  display: block;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 300px;
    left: 80px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    left: 190px;
  }
}
