.promo {
  position: relative;
  height: 480px;
  color: @text-light;
}

.promo__section {
  height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  position: absolute;
  top: 167px;
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  bottom: 0;
}
