.related-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @text-title;
  margin-top: 25px;
  margin-bottom: 36px;
}

.related-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.related-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @text-accent;
}

.related-product__about {
  font-family: @arial;
  line-height: 14px;
}

.related-product__button {
  margin-bottom: 25px;
}
